body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}
a{
    text-decoration: none;
    color: gray;
}

/*   container & sub-container style   */
.container,
.sub-container{
    margin: 0 4rem;
}

/*     header styling      */
header img{
    float: left;
}
header div{
    margin-top:4rem; 
    border-bottom: 4px solid rgb(192, 188, 188);
}
header h1{
    padding-left: 9rem;
    padding-top: 1rem;
    font-size: 3.5rem;
}

/*    nav styling    */
nav{
    margin:2rem 0;
    display: flex;
    justify-content: space-around;
}


/*    main styling    */
.main img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.main{
    position: relative;
}
.main-text{
    position: absolute;
    bottom: 0;
    padding:0 1rem;
    background-color: white;
    color: black;
    width: 100%;
}

/*    news styling    */
.news{
    margin: 1rem;
    padding-top:1rem; 
    border-bottom: 2px solid rgb(192, 188, 188);
}
.news span{
    font-size: 1.5rem;
}
.right-placeholder{
    float: right;
}
.news-list li{
    border-bottom: 2px solid rgb(192, 188, 188);
    padding: 1rem 0;
}
.news-list ul{
    margin:0 1rem; 
    padding-left: 0;
    list-style-type: none;
}

/*   score team table styling   */
.team-score{
    width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
}
.team-score tr,
.team-score td{
    padding: 1rem;
    text-align: center;
}
.team-score th{
    padding: 1rem 0;
}

/*   weather-widget styling   */
.sunny{
    margin-left: 2rem; 
    padding-top: 3rem;
}
.weather{
 display:flex; 
 flex-wrap:wrap; 
}
.weather img{
    width:300px;
    height: 200px;
}
.weather h4{
    font-size: 2rem;
}
.weather-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.days{
    text-align: center;
}
.days img{
    width:120px;
}
/*   latest-news styling   */
.latest-news{
    margin: 1rem;
}
.latest-news img{
    width: 10rem;
    float: left;
    padding-right:1rem; 
}


/*   footer styling   */
footer{
    border-top: 2px solid rgb(192, 188, 188);
    border-bottom: 2px solid rgb(192, 188, 188);
    text-align: center;
    padding: 1rem 0;
}
footer span{
    padding:0 4rem; 
}

/*   Tablet layout sytling    */
@media screen and (max-width:870px){
    body{
        font-size:0.9rem;
        margin: 0;
        width: 100%;
    }
    
    .container{
        margin: 0;
    }
    .sub-container{
        margin:0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .container div{
        margin:0;
    }
    header h1{
        font-size: 3rem;
    }
    header img{
        padding-bottom:1rem; 
    }
    nav a{
        margin-left: 6rem;
    }
    .main img{
        height: 400px;
    }
    .main-text{
        background: none;
        color: white;
    }
    .main{
        order:1;
        width:50%;
    }
    .weather-section{
        order:2;
        width: 50%;
    }
    .news-section{
        order:3;
        width: 100%;
    }
    .team-score-section{
        order:4;
        width: 100%;
    }
    .latest-news-section{
        order:5;
    }   
    .sunny{
        padding: 0;
    }
    .weather img{
        width:162px;
        height: 123px;
    }
    .weather-class{
        margin :0 1rem;
    }
    .days img{
        width: 40px;
    }
    .team-score thead{
        background-color: rgb(16, 78, 102);
        color: white;
    }
    .color-it{
        background-color:lightblue;
    }
}

/*    mobile layout styling    */
@media screen and (max-width:426px){
    body{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .container{
        margin: 0;
        width: 100%;
    }
    .sub-container{
        margin:0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .container div{
        margin:0;
    }
    header div{
        border-bottom: none;
    }
    header h1{
        font-size: 1.6rem;
        padding:0.5rem 0;
    }
    header img{
        width: 3rem;
        height: 3rem;
    }
    nav{
        display: none;
    }

    .main{
        order:1;
        width: 100%;
    }
    .weather-section{
        order:4;
        width:100%;
        margin: 0 1rem;
    }
    .sunny{
        padding-top: 0;
    }
    .weather h4{
        font-size: 1rem;
    }
    .news-section{
        order:2;
    }
    .team-score{
        margin-top:0;
    }
    .team-score-section{
        order:3;
        width: 100%;
    }
    .latest-news-section{
        order:5;
    }
    footer span{
        padding:0 1rem;
    }
}